body {
    background: #9ac092;
}
h1 { 
    color: #339c79;
}
a{
    color: #7b1c86
}
.p-1{
    color: #c80101;
}
#nomb {
    color: #0c5391;
    text-decoration: underline;
}
img{
    width: 500px
}
.product-card {
    background: #e8e8e1;
    height: 667px;
    width: 600px;
}